# Summary Statistics

- This note book will go through the detail about how to get the table 1 result in The Illiquidity of Corporate Bonds

In [1]:
import pandas as pd
import numpy as np
import config
import load_wrds_bondret
import load_opensource
import data_processing

OUTPUT_DIR = config.OUTPUT_DIR
DATA_DIR = config.DATA_DIR

## Step 1: Load the Data of Monthly, Daily and Intraday

The original loading processing is very long, in the following code, we could directly load the data from our pulled directory

In [2]:
# #loading raw data 
# df_bondret = load_wrds_bondret.load_bondret(data_dir = DATA_DIR)
# df_daily = load_opensource.load_daily_bond(data_dir=DATA_DIR)

# loading raw data, since the data is too large, we can load the parquet file directly
# in final case, we can comment the following two lines and use the above two lines to load the raw data
df_bondret = pd.read_parquet(DATA_DIR / "pulled" / "Bondret.parquet")
df_daily = pd.read_csv('/Users/adair/Desktop/FinancialTool/Group_Project/BondDailyPublic.csv')
df_intraday = pd.read_parquet(DATA_DIR / "pulled" / "intraday_clean_v2.parquet")

# pre-processing the data
df_all = data_processing.all_trace_data_merge(df_daily, df_bondret)   #this is the dataset for panel B in table 1 
df_sample = data_processing.sample_selection(df_all) # this is the dataset for panel A in table 1

- Check the Data

In [8]:
df_bondret.head()

,cusip,date,issue_id,bond_sym_id,price_eom,price_ldm,price_l5m,bsym,isin,company_symbol,...,amount_outstanding,r_sp,r_mr,r_fr,n_sp,n_mr,n_fr,rating_num,year,month_time
0,000361AB1,2002-07-31,2.0,AIR.GA,102.7910,NaN,NaN,None,US000361AB18,AIR,...,50000.0,BBB,BAA3,BB+,9.0,10.0,11.0,9.0,2002,2002-07
1,000361AB1,2002-08-31,2.0,AIR.GA,103.0890,103.0890,103.0890,None,US000361AB18,AIR,...,50000.0,BBB,BAA3,BB+,9.0,10.0,11.0,9.0,2002,2002-08
2,000361AB1,2002-09-30,2.0,AIR.GA,103.1430,NaN,NaN,None,US000361AB18,AIR,...,50000.0,BBB,BAA3,BB+,9.0,10.0,11.0,9.0,2002,2002-09
3,000361AB1,2002-11-30,2.0,AIR.GA,102.7500,NaN,NaN,None,US000361AB18,AIR,...,50000.0,BBB,BAA3,BB+,9.0,10.0,11.0,9.0,2002,2002-11
4,000361AB1,2002-12-31,2.0,AIR.GA,101.9525,101.9525,101.9525,None,US000361AB18,AIR,...,50000.0,BBB,BAA3,BB+,9.0,10.0,11.0,9.0,2002,2002-12

In [9]:
df_daily.head()

,Unnamed: 0,cusip_id,trd_exctn_dt,prclean,prfull,acclast,accpmt,accall,ytm,ytmt,qvolume,dvolume,coupon,mod_dur,convexity,cs_dur,cs
0,0,000361AB1,2002-08-13,100.000,102.416667,2.416667,61.625,64.041667,0.072370,0.072370,25000.0,25000.0,7.25,1.075880,1.714606,0.055142,0.054854
1,1,000361AB1,2002-08-30,103.089,105.888306,2.799306,61.625,64.424306,0.043721,0.043721,10000.0,10309.0,7.25,1.040410,1.629670,0.026160,0.025820
2,2,000361AB1,2002-09-06,103.143,106.063139,2.920139,61.625,64.545139,0.042815,0.042815,50000.0,51572.0,7.25,1.024589,1.589488,0.025233,0.024964
3,3,000361AB1,2002-11-08,83.575,84.118750,0.543750,65.250,65.793750,0.286619,0.286619,1000000.0,835750.0,7.25,0.792236,0.981177,0.272319,0.272319
4,4,000361AB1,2002-12-02,99.000,99.986806,0.986806,65.250,66.236806,0.084565,0.084565,15000.0,14850.0,7.25,0.811968,1.056617,0.068965,0.068965

In [10]:
df_intraday.head()

,Unnamed: 0,cusip,bond_sym_id,trd_exctn_dt,trd_exctn_tm,days_to_sttl_ct,lckd_in_ind,wis_fl,sale_cndtn_cd,msg_seq_nb,...,trd_rpt_tm,entrd_vol_qt,rptd_pr,yld_pt,asof_cd,orig_msg_seq_nb,rpt_side_cd,cntra_mp_id,year,month
0,85110,001957AP4,T.GE,2003-04-14,08:08:45,0.0,NaN,N,@,772,...,08:36:28,5000.0,107.867,4.756000,None,NaN,S,D,2003,4
1,85111,001957AP4,T.GE,2003-04-14,08:08:45,0.0,NaN,N,@,773,...,08:36:32,5000.0,108.242,4.632000,None,NaN,S,C,2003,4
2,85112,001957AP4,T.GE,2003-04-14,10:55:34,0.0,NaN,N,@,5885,...,10:55:45,5000.0,106.250,5.298545,None,NaN,B,D,2003,4
3,85113,001957AP4,T.GE,2003-04-14,11:45:11,0.0,NaN,N,@,9187,...,11:45:18,10000.0,108.212,4.642000,None,NaN,S,C,2003,4
4,85114,001957AP4,T.GE,2003-04-14,11:58:46,0.0,NaN,N,@,10290,...,11:59:05,1000.0,107.500,4.878000,None,NaN,S,C,2003,4

## Step2: Data manipulation and merging of different dataframes.

The first part of the code is adding a new column 'month' to the dataframes `df_all` and `df_sample`. This is done by extracting the month from the 'date' column using the `dt.month` attribute. 

The next part of the code is preparing the `df_intraday` dataframe for merging. The 'cusip_id' column is renamed to 'cusip' to match the other dataframes. The 'trd_exctn_dt' column, which appears to represent the date of trade execution, is converted to datetime format. Then, 'year' and 'month' columns are created by extracting the year and month from the 'trd_exctn_dt' column.

The `df_intraday` dataframe is then grouped by 'year', 'month', and 'cusip', and the number of trades for each group is counted. This results in a new dataframe `df_intraday_grouped` with a '#trade' column representing the count of trades.

Finally, the `df_intraday_grouped` dataframe is merged with `df_sample` and `df_all` dataframes using a left join on the 'year', 'month', and 'cusip' columns. This means that all rows from `df_sample` and `df_all` and only matching rows from `df_intraday_grouped` will be included in the resulting dataframes.

In [3]:
# Give df_all and df_sample a month column
df_all['month'] = df_all['date'].dt.month
df_sample['month'] = df_sample['date'].dt.month

# merge the df_intraday_grouped with df_sample and df_all by year, month and cusip, only keep the #trade column
df_intraday.rename(columns={'cusip_id': 'cusip'}, inplace=True)
df_intraday['trd_exctn_dt'] = pd.to_datetime(df_intraday['trd_exctn_dt'])
df_intraday['year'] = df_intraday['trd_exctn_dt'].dt.year
df_intraday['month'] = df_intraday['trd_exctn_dt'].dt.month
df_intraday_grouped = df_intraday.groupby(['year', 'month', 'cusip'])['trd_exctn_dt'].count().reset_index(name='#trade')

df_sample = pd.merge(df_sample, df_intraday_grouped, how='left', on=['year', 'month', 'cusip'])

df_all = pd.merge(df_all, df_intraday_grouped, how='left', on=['year', 'month', 'cusip'])

## Step 3: Develop helper functions

These functions are designed to perform common statistical calculations on a specified column of a pandas DataFrame, grouped by year.

The first function, `cal_avrage`, calculates the average (mean) of a specified column for each year. It does this by grouping the DataFrame by the 'year' column and then applying the `mean` function to the specified column. The resulting DataFrame is then reset to a default index, and the column name is renamed to include '_avg' at the end.

The second function, `cal_median`, calculates the median of a specified column for each year. Similar to the first function, it groups the DataFrame by the 'year' column and applies the `median` function to the specified column. The resulting DataFrame is reset to a default index, and the column name is renamed to include '_median' at the end.

The third function, `cal_std`, calculates the standard deviation of a specified column for each year. It groups the DataFrame by the 'year' column and applies the `std` function to the specified column. The resulting DataFrame is reset to a default index, and the column name is renamed to include '_std' at the end.

The fourth function, `cal_count`, calculates the count of unique values in a specified column for each year. It groups the DataFrame by the 'year' column and applies the `nunique` function to the specified column. The resulting DataFrame is reset to a default index, and the column name is renamed to include '_count' at the end.

In [4]:
# helper functions to calculate the average, median, standard deviation and count of a column in a dataframe

def cal_avrage(dataframe, column):
    """
    Calculate the average of a specified column in a dataframe grouped by year.

    Parameters:
    dataframe (pandas.DataFrame): The input dataframe.
    column (str): The column name for which the average is calculated.

    Returns:
    pandas.Series: A series containing the average values for each year.
    """
    average = dataframe.groupby('year')[column].mean().reset_index()
    average.rename(columns={column: column+'_avg'}, inplace=True)
    average.set_index('year', inplace=True)

    return average

def cal_median(dataframe, column):
    """
    Calculate the median value of a specified column in a dataframe, grouped by year.

    Parameters:
    dataframe (pandas.DataFrame): The input dataframe.
    column (str): The name of the column to calculate the median for.

    Returns:
    pandas.Series: A series containing the median values for each year.
    """
    median = dataframe.groupby('year')[column].median().reset_index()
    median.rename(columns={column: column+'_median'}, inplace=True)
    median.set_index('year', inplace=True)

    return median

def cal_std(dataframe, column):
    """
    Calculate the standard deviation of a column in a dataframe grouped by year.

    Args:
        dataframe (pandas.DataFrame): The input dataframe.
        column (str): The name of the column to calculate the standard deviation for.

    Returns:
        pandas.Series: The standard deviation of the specified column grouped by year.
    """
    std = dataframe.groupby('year')[column].std().reset_index()
    std.rename(columns={column: column+'_std'}, inplace=True)
    std.set_index('year', inplace=True)

    return std

def cal_count(dataframe, column='cusip'):
    """
    Calculate the count of unique values in a specified column of a dataframe.

    Parameters:
    dataframe (pandas.DataFrame): The input dataframe.
    column (str): The column name to calculate the count of unique values. Default is 'cusip'.

    Returns:
    pandas.Series: A series containing the count of unique values for each year.
    """
    count = dataframe.groupby('year')[column].nunique().reset_index()
    count.rename(columns={column: column+'_count'}, inplace=True)
    count.set_index('year', inplace=True)
    return count

## Step 4: Calculate various statistics (No need to drop month;y duplicate)
The following code is primarily concerned with calculating various statistics for different attributes of two dataframes: `df_sample` and `df_all`.

The first part of the code calculates the number of unique 'cusip' values in both dataframes using the `cal_count` function. 'Cusip' is a term used in finance that stands for Committee on Uniform Securities Identification Procedures. It's a unique identifier for bonds and other financial instruments.

Next, the code calculates the 'issuance' for both dataframes. The 'issuance' is calculated as the product of 'offering_amt', 'principal_amt', and 'offering_price', divided by 100 (get precentage) and then by 1,000,000(unit: million). The average, median, and standard deviation of the 'issuance' are then calculated using the `cal_avrage`, `cal_median`, and `cal_std` functions respectively.

The code then repeats this process for several other attributes: 'n_mr' (Moody's Rating), 'tmt' (Maturity), 'coupon_y' (Coupon), 'age', and 'turnover'. For 'age', the code first converts the 'date' and 'offering_date' columns to datetime format, then calculates 'age' as the difference between these two dates in years. For 'turnover', it's calculated as 't_volume' divided by 'issuance' and then divided by 10,000.

The resulting statistics for each attribute are stored in separate dataframes (e.g., `df_sample_issuance`, `df_all_moody`, `df_sample_turnover`, etc.).

In [5]:
# Calculate the number of unique cusips in df_sample and df_all
df_sample_cusip = cal_count(df_sample)
df_all_cusip = cal_count(df_all)


# Calculate the Issuance of df_sample and df_all
df_sample['issuance'] = df_sample['offering_amt'] * df_sample['principal_amt'] * \
                        df_sample['offering_price'] / 100 / 1000000

df_sample_issuance = pd.concat([cal_avrage(df_sample, 'issuance'), \
                    cal_median(df_sample, 'issuance'), cal_std(df_sample, 'issuance')], axis=1)

df_all['issuance'] = df_all['offering_amt'] * df_all['principal_amt'] * \
                     df_all['offering_price'] / 100 / 1000000

df_all_issuance = pd.concat([cal_avrage(df_all, 'issuance'), \
                    cal_median(df_all, 'issuance'), cal_std(df_all, 'issuance')], axis=1)

# Calculate the Moondy Rating of df_sample and df_all
df_sample_moody = pd.concat([cal_avrage(df_sample, 'n_mr'), \
                    cal_median(df_sample, 'n_mr'), cal_std(df_sample, 'n_mr')], axis=1)

df_all_moody = pd.concat([cal_avrage(df_all, 'n_mr'), \
                    cal_median(df_all, 'n_mr'), cal_std(df_all, 'n_mr')], axis=1)

# Calculate the Maturity of df_sample and df_all
df_sample_maturity = pd.concat([cal_avrage(df_sample, 'tmt'), \
                    cal_median(df_sample, 'tmt'), cal_std(df_sample, 'tmt')], axis=1)

df_all_maturity = pd.concat([cal_avrage(df_all, 'tmt'), \
                    cal_median(df_all, 'tmt'), cal_std(df_all, 'tmt')], axis=1)

# Calculate the coupon of df_sample and df_all
df_sample_coupon = pd.concat([cal_avrage(df_sample, 'coupon_y'), \
                    cal_median(df_sample, 'coupon_y'), cal_std(df_sample, 'coupon_y')], axis=1)

df_all_coupon = pd.concat([cal_avrage(df_all, 'coupon_y'), \
                    cal_median(df_all, 'coupon_y'), cal_std(df_all, 'coupon_y')], axis=1)

# Calculate the age where the gap between the issuance date and the trade date in years
df_sample[['date', 'offering_date']] = df_sample[['date', 'offering_date']].apply(pd.to_datetime)
df_all[['date', 'offering_date']] = df_all[['date', 'offering_date']].apply(pd.to_datetime)

df_sample['age'] = (df_sample['date'] - df_sample['offering_date']).dt.days / 365
df_all['age'] = (df_all['date'] - df_all['offering_date']).dt.days / 365

df_sample_age = pd.concat([cal_avrage(df_sample, 'age'), \
                    cal_median(df_sample, 'age'), cal_std(df_sample, 'age')], axis=1)

df_all_age = pd.concat([cal_avrage(df_all, 'age'), \
                    cal_median(df_all, 'age'), cal_std(df_all, 'age')], axis=1)

# Calculate the turnover in df_sample and df_all
df_sample['turnover'] = df_sample['t_volume'] / df_sample['issuance'] / 10000
df_all['turnover'] = df_all['t_volume'] / df_all['issuance'] / 10000

df_sample_turnover = pd.concat([cal_avrage(df_sample, 'turnover'), \
                    cal_median(df_sample, 'turnover'), cal_std(df_sample, 'turnover')], axis=1)

df_all_turnover = pd.concat([cal_avrage(df_all, 'turnover'), \
                    cal_median(df_all, 'turnover'), cal_std(df_all, 'turnover')], axis=1)

## Step 5: Calculate various statistics (Need to drop month;y duplicate)
The following code is primarily concerned with calculating various statistics that need to first drop monthly duplicate for different attributes of two dataframes: `df_sample` and `df_all`.

The first part of the code calculates the monthly return for both dataframes. It first removes duplicate entries based on 'cusip', 'year', and 'month' columns. Then, it calculates the 'return' as the logarithm of the ratio of the current month's 'price_eom' (end of month price) to the previous month's 'price_eom', multiplied by 100. This is done separately for each 'cusip' using the `groupby` function and the `shift` function.

Next, the code groups the dataframes by 'year' and 'cusip' and calculates the average return for each group. The resulting dataframes are then passed to the `cal_avrage`, `cal_median`, and `cal_std` functions to calculate the average, median, and standard deviation of the average return, respectively.

The code then calculates the volatility of the return for both dataframes. The volatility is calculated as the standard deviation of the 'return' for each group of 'year' and 'cusip'. The resulting dataframes are then passed to the `cal_avrage`, `cal_median`, and `cal_std` functions to calculate the average, median, and standard deviation of the volatility, respectively.

The code then calculates the average, median, and standard deviation of the 'prclean' (clean price) for both dataframes. This is done by grouping the dataframes by 'year', 'cusip', and 'date', and calculating the mean 'prclean' for each group.

The code then calculates the average, median, and standard deviation of the number of trades ('#trade') for both dataframes.

Finally, the code calculates the 'trade_size' as the ratio of 't_dvolume' (daily trading volume) to '#trade', divided by 1000. The average, median, and standard deviation of the 'trade_size' are then calculated for both dataframes.

In [ ]:
# Calculate the return of df_sample and df_all

# We need to drop teh duplicate entires in df_sample and df_all
df_sample_month = df_sample.drop_duplicates(subset=['cusip', 'year', 'month']).reset_index()
df_all_month = df_all.drop_duplicates(subset=['cusip', 'year', 'month']).reset_index()

df_sample_month['return'] = np.log(df_sample_month['price_eom'] / \
                            df_sample_month.groupby(['cusip'])['price_eom'].shift(1)) * 100

df_all_month['return'] = np.log(df_all_month['price_eom'] / \
                            df_all_month.groupby(['cusip'])['price_eom'].shift(1)) * 100


# group by year and cusip and calculate the weighted average return
df_sample_month_grouped = df_sample_month.groupby(['year', 'cusip'])['return'].mean().reset_index(name='Avg_return')
df_all_month_grouped = df_all_month.groupby(['year', 'cusip'])['return'].mean().reset_index(name='Avg_return')


df_sample_return = pd.concat([cal_avrage(df_sample_month_grouped, 'Avg_return'), \
                    cal_median(df_sample_month_grouped, 'Avg_return'), cal_std(df_sample_month_grouped, 'Avg_return')], axis=1)

df_all_return = pd.concat([cal_avrage(df_all_month_grouped, 'Avg_return'), \
                    cal_median(df_all_month_grouped, 'Avg_return'), cal_std(df_all_month_grouped, 'Avg_return')], axis=1)

# Calculate the volatility of df_sample and df_all

df_sample_vol_grouped = df_sample_month.groupby(['year', 'cusip'])['return'].std().reset_index(name='volatility')
df_all_vol_grouped = df_all_month.groupby(['year', 'cusip'])['return'].std().reset_index(name='volatility')

df_sample_vol = pd.concat([cal_avrage(df_sample_vol_grouped, 'volatility'), \
                    cal_median(df_sample_vol_grouped, 'volatility'), cal_std(df_sample_vol_grouped, 'volatility')], axis=1)

df_all_vol = pd.concat([cal_avrage(df_all_vol_grouped, 'volatility'), \
                    cal_median(df_all_vol_grouped, 'volatility'), cal_std(df_all_vol_grouped, 'volatility')], axis=1)

# Calculate the Price in df_sample and df_all
df_sample_month_price = df_sample.groupby(['year', 'cusip', 'date'])['prclean'].mean().reset_index()
df_all_month_price = df_all.groupby(['year', 'cusip', 'date'])['prclean'].mean().reset_index()

df_sample_price = pd.concat([cal_avrage(df_sample_month_price, 'prclean'), \
                    cal_median(df_sample_month_price, 'prclean'), cal_std(df_sample_month_price, 'prclean')], axis=1)

df_all_price = pd.concat([cal_avrage(df_all_month_price, 'prclean'), \
                    cal_median(df_all_month_price, 'prclean'), cal_std(df_all_month_price, 'prclean')], axis=1)

# Calculate the number of trades in df_sample and df_all
df_sample_trade = pd.concat([cal_avrage(df_sample_month, '#trade'), \
                    cal_median(df_sample_month, '#trade'), cal_std(df_sample_month, '#trade')], axis=1)

df_all_trade = pd.concat([cal_avrage(df_all_month, '#trade'), \
                    cal_median(df_all_month, '#trade'), cal_std(df_all_month, '#trade')], axis=1)


# Calculate the Trade_size in df_sample and df_all
df_sample_month['trade_size'] = df_sample_month['t_dvolume'] / df_sample_month['#trade'] / 1000
df_all_month['trade_size'] = df_all_month['t_dvolume'] / df_all_month['#trade'] / 1000

df_sample_size = pd.concat([cal_avrage(df_sample_month, 'trade_size'), \
                    cal_median(df_sample_month, 'trade_size'), cal_std(df_sample_month, 'trade_size')], axis=1)

df_all_size = pd.concat([cal_avrage(df_all_month, 'trade_size'), \
                    cal_median(df_all_month, 'trade_size'), cal_std(df_all_month, 'trade_size')], axis=1)

## Step 6: Combine the result
The following code is primarily concerned with consolidating the results of various statistical calculations into two final dataframes: `df_sample_result` and `df_all_result`.

The first part of the code concatenates multiple dataframes (`df_sample_cusip`, `df_sample_issuance`, `df_sample_moody`, etc.) along the column axis (axis=1) using the `pd.concat` function. This results in two new dataframes `df_sample_result` and `df_all_result` where each column represents the results of a specific statistical calculation for the 'sample' and 'all' datasets respectively.

The second part of the code transposes these two dataframes using the `.T` attribute. Transposing a dataframe swaps its rows and columns. After this operation, each row in `df_sample_result` and `df_all_result` represents the results of a specific statistical calculation, and the columns represent the years.

In [6]:
# concat all results of df_sample and df_all
df_sample_result = pd.concat([df_sample_cusip, df_sample_issuance, df_sample_moody, df_sample_maturity, df_sample_coupon, \
                    df_sample_age, df_sample_turnover, df_sample_size, df_sample_trade, df_sample_return, df_sample_vol, df_sample_price], axis=1)

df_all_result = pd.concat([df_all_cusip, df_all_issuance, df_all_moody, df_all_maturity, df_all_coupon, \
                    df_all_age, df_all_turnover, df_all_size, df_all_trade, df_all_return, df_all_vol, df_all_price], axis=1)
# transform the df_sample_result, make its index as column
df_sample_result = df_sample_result.T
df_all_result = df_all_result.T

In [7]:
df_sample_result.head()

year,2003,2004,2005,2006,2007,2008,2009
cusip_count,781.000000,896.000000,861.000000,723.000000,611.000000,513.000000,426.000000
issuance_avg,992.244968,981.885959,990.048752,983.184266,1001.462032,1031.990589,1070.582242
issuance_median,749.460000,749.355000,771.829290,797.360000,797.896000,847.968500,990.480000
issuance_std,735.051477,712.180961,696.051084,658.993069,675.693519,705.112816,725.922416
n_mr_avg,5.865775,5.672186,5.604930,5.292138,5.209142,5.592997,6.323899

In [11]:
df_all_result.head()

year,2003,2004,2005,2006,2007,2008,2009
cusip_count,14176.000000,16299.000000,16848.000000,16691.000000,16898.000000,16666.000000,13974.000000
issuance_avg,503.476298,539.175215,578.808925,596.444788,632.527829,714.011625,735.856447
issuance_median,299.760000,349.422500,399.284000,447.025500,496.790000,499.025000,499.075000
issuance_std,549.508040,560.122080,573.607099,573.267895,595.740186,688.381915,743.562726
n_mr_avg,8.482803,8.508066,8.548406,8.659461,8.498669,8.491624,8.811422

In [ ]:
# Save the result
df_sample_result.to_csv(OUTPUT_DIR / 'table1_panelA.csv')
df_all_result.to_csv(OUTPUT_DIR / 'table1_panelB.csv')