# Illiquidity Calculation

  - This notebook walks through illiquidity calculations based on methodology in The Illiquidity of Corporate Bonds, Bao, Pan, and Wang (2010).

  - In order to avoid re-running the notebook every time it changes (it changes often, even by the act of opening it) and to only rerun it if meaningful changes have been made, the build system only looks for changes in the plaintext version of the notebook. That is, the notebook is converted to a Python script via [nbconvert](https://nbconvert.readthedocs.io/en/latest/), which is often packaged with Jupyter.
  Then, DoIt looks for changes to the Python version. If it detects a difference, then the notebook is re-run. (Note, that you could also convert to a Markdown file with 
  [JupyText](https://github.com/mwouts/jupytext). However, this package is often not packaged with Jupyter.)
  - Since we want to use Jupyter Notebooks for exploratory reports, we want to keep fully-computed versions of the notebook (with the output intact). However, earlier I said that I strip the notebook of its output before committing to version control. Well, to keep the output, every time PyDoit runs the notebook, it outputs an HTML version of the freshly run notebook and saves that HTML report in the `output` directory. That way, you will be able to view the finished report at any time without having to open Jupyter.

In [1]:
import config

OUTPUT_DIR = config.OUTPUT_DIR
DATA_DIR = config.DATA_DIR

In [2]:
import pandas as pd
from tqdm import tqdm
import numpy as np
from scipy import stats
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
from statsmodels.stats.stattools import durbin_watson
from statsmodels.regression.linear_model import OLS
from statsmodels.stats.sandwich_covariance import cov_hac
from statsmodels.tools.tools import add_constant

In [3]:
import misc_tools
import load_wrds_bondret
import load_opensource
import data_processing as data

# Step 1: Clean Merged Data for Daily Illiquidity Calculation

Before calculating illiquidity measures, it's essential to ensure that our corporate bond data is accurate and relevant. The `clean_merged_data` function takes care of preparing the pre-cleaned merged monthly and daily data by performing several critical cleaning steps:

- Loads and merges the relevant datasets within the specified date range.
- Removes any records with missing crucial price information and sorts the data chronologically.
- Adjusts for trade execution dates by incorporating a time lag to identify consecutive trades for the same bond, and filters out those that do not fall within a one-week window, accounting for holidays.
- Consolidates the cleaned data, readying it for the subsequent illiquidity analysis.

This step is crucial to ensure that the subsequent calculations are based on a dataset that reflects true trading activity without distortions from missing data or trades too far apart in time.

In [4]:
def clean_merged_data(start_date, end_date):
    """Load merged, pre-cleaned daily and monthly corporate bond data for a given time interval,
    and conduct additional cleaning for illiquidity calculation.
    """

    # load and merge pre-cleaned daily and monthly data
    df_daily = load_opensource.load_daily_bond(data_dir=DATA_DIR)
    df_bondret = load_wrds_bondret.load_bondret(data_dir=DATA_DIR)
    merged_df = data.all_trace_data_merge(df_daily, df_bondret,
                                          start_date = start_date, end_date = end_date)
    merged_df = data.sample_selection(merged_df, start_date = start_date,
                                      end_date = end_date)
    
    # Clean data
    merged_df = merged_df.dropna(subset=['prclean'])
    merged_df = merged_df.sort_values(by='trd_exctn_dt')
    merged_df['month_year'] = pd.to_datetime(merged_df['trd_exctn_dt']).dt.to_period('M') 

    # Lags days for day_counts
    merged_df['trd_exctn_dt_lag'] = merged_df.\
        groupby('cusip')['trd_exctn_dt'].shift(1)
    dfDC = merged_df.dropna(subset=['trd_exctn_dt_lag'])

    # Generate a list of U.S. holidays over this period
    # Only include "daily" return if the gap between trades is less than 1-Week 
    calendar = USFederalHolidayCalendar()
    holidays = calendar.holidays(start_date, end_date)  # 01JUL2002  # 31DEC2022
    holiday_date_list = holidays.date.tolist()

    dfDC['n']  = np.busday_count(dfDC['trd_exctn_dt_lag'].values.astype('M8[D]') , 
                                        dfDC['trd_exctn_dt'].values.astype('M8[D]'),
                                        holidays = holiday_date_list)

    df = merged_df.merge(dfDC[['cusip', 'trd_exctn_dt', 'n']],
                         left_on = ['cusip','trd_exctn_dt'], 
                         right_on = ['cusip','trd_exctn_dt'], how = "left")
    del(dfDC)
    df = df[df.n <= 7]

    return df

In [5]:
cleaned_df = clean_merged_data('2003-04-14', '2009-06-30')
cleaned_df.head()

C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\4123699928.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfDC['n']  = np.busday_count(dfDC['trd_exctn_dt_lag'].values.astype('M8[D]') ,

,cusip,trd_exctn_dt,prclean,prfull,acclast,accpmt,accall,ytm,ytmt,qvolume,...,first_interest_date,last_interest_date,ncoups,amount_outstanding,n_mr,tmt,year,month_year,trd_exctn_dt_lag,n
602,36962GUR3,2003-04-15,105.974001,109.256640,3.282639,18.185417,21.468056,0.014644,0.014644,2500000.0,...,2000-11-03,2003-11-03,2.0,700000.0,1.0,1.025000,2003,2003-04,2003-04-14,1.0
603,370442AR6,2003-04-15,95.332902,96.237346,0.904444,55.335556,56.240000,0.078446,0.078446,889000.0,...,1996-03-01,2025-03-01,2.0,500000.0,7.0,22.666667,2003,2003-04,2003-04-14,1.0
604,92344SAE0,2003-04-15,106.907199,108.713796,1.806597,2.672569,4.479167,0.033530,0.033530,9000000.0,...,2002-12-15,2006-06-15,2.0,2446000.0,7.0,3.680556,2003,2003-04,2003-04-14,1.0
605,949746CC3,2003-04-15,111.335999,112.403360,1.067361,18.125000,19.192361,0.022727,0.022727,50000000.0,...,2001-02-24,2005-02-24,2.0,1000000.0,3.0,2.352778,2003,2003-04,2003-04-14,1.0
606,46625HAV2,2003-04-15,101.786597,102.608819,0.822222,0.033333,0.855556,0.035897,0.035897,22750000.0,...,2003-08-01,2007-08-01,2.0,1000000.0,5.0,4.827778,2003,2003-04,2003-04-14,1.0

# Step 2: Calculate Price Changes and Perform Additional Cleaning

In this part of the analysis pipeline, we use the `calc_deltaprc` function to compute daily price changes for corporate bonds, designed to operate on cleaned and merged daily corporate bond trade data.

This calculation is based on the Measure of Illiquidity on page 10 and 11 of the peper: $ \gamma = -\text{Cov}(p_t - p_{t-1}, p_{t+1} - p_t) $. The process involves several steps:
- Calculation of Log Prices: Transform cleaned prices to log prices for more stable numerical properties.
- Lagged and Lead Price Changes: Determine the price changes by computing lagged and lead log prices.
- Restricting Returns: Ensure that calculated price changes (returns) are within the range of -100% to 100%.
- Conversion to Percentage: Change the representation of price changes from decimal to percentage for clarity.
- Cleaning Data: Remove entries with incomplete information to maintain the quality of the dataset.
- Filtering by Trade Count: Exclude bonds with fewer than 10 trade observations to focus on more reliable data.

This function is essential for preparing the bond price data for accurate calculation of financial metrics such as illiquidity.

In [6]:
def calc_deltaprc(df):
    """Calculate delta price and delta price_lag for each daily trades with additional cleaning.
    """

    # Calculate lagged and lead log prices, and corresponding delta p (percentage returns)
    df['logprc']     = np.log(df['prclean'])
    df['logprc_lag'] = df.groupby( 'cusip' )['logprc'].shift(1)
    df['deltap']     = df ['logprc'] - df ['logprc_lag']

    # Restrict log returns to be in the interval [1,1]
    df['deltap'] = np.where(df['deltap'] > 1, 1, df['deltap'])
    df['deltap'] = np.where(df['deltap'] <-1, -1, df['deltap'])

    # Convert deltap to % i.e. returns in % as opposed to decimals
    df['deltap'] = df['deltap'] * 100
    
    df['logprc_lead'] = df.groupby( 'cusip' )['logprc'].shift(-1)
    df['deltap_lag'] = df ['logprc_lead'] - df ['logprc']
    df['deltap_lag'] = np.where(df['deltap_lag'] > 1, 1, df['deltap_lag'])
    df['deltap_lag'] = np.where(df['deltap_lag'] <-1, -1, df['deltap_lag'])
    df['deltap_lag'] = df['deltap_lag'] * 100

    # df.isna().sum()
    # df_bondret.columns
    
    # Drop NAs in deltap, deltap_lag and bonds < 10 observations of the paired price changes
    df_final = df.dropna(subset=['deltap', 'deltap_lag', 'prclean'])
    df_final['trade_counts'] = df_final.groupby(['cusip', 'year'])['deltap'].transform("count")
    df_final = df_final[df_final['trade_counts'] >= 10]    
    
    return df_final

In [7]:
df = calc_deltaprc(cleaned_df)
df.head()

C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1364041051.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['trade_counts'] = df_final.groupby(['cusip', 'year'])['deltap'].transform("count")

,cusip,trd_exctn_dt,prclean,prfull,acclast,accpmt,accall,ytm,ytmt,qvolume,...,year,month_year,trd_exctn_dt_lag,n,logprc,logprc_lag,deltap,logprc_lead,deltap_lag,trade_counts
1225,345397SQ7,2003-04-16,103.468001,104.176334,0.708333,22.520833,23.229167,0.055476,0.055476,10334000.0,...,2003,2003-04,2003-04-15,1.0,4.639262,4.633919,0.534345,4.639275,0.001255,180
1226,370425RJ1,2003-04-16,104.210101,106.569545,2.359444,23.975000,26.334444,0.031076,0.031076,1003000.0,...,2003,2003-04,2003-04-15,1.0,4.646409,4.646475,-0.006620,4.647230,0.082107,178
1227,260543BU6,2003-04-16,103.132500,105.201945,2.069444,0.000000,2.069444,0.042376,0.042376,1035000.0,...,2003,2003-04,2003-04-15,1.0,4.636015,4.627253,0.876200,4.629933,-0.608155,169
1228,191219BF0,2003-04-16,111.127899,113.843177,2.715278,22.984028,25.699306,0.035189,0.035189,1130000.0,...,2003,2003-04,2003-04-15,1.0,4.710682,4.692768,1.791380,4.695206,-1.547620,172
1229,37042GD52,2003-04-16,96.987273,97.108107,0.120833,4.450694,4.571528,0.075946,0.074771,25000.0,...,2003,2003-04,2003-04-15,1.0,4.574580,4.585009,-1.042888,4.574582,0.000207,153

# Step 3: Annual Illiquidity Metrics Calculation

This step involves using the `calc_annual_illiquidity_table_daily` function to calculate and summarize annual illiquidity metrics for corporate bonds. The function takes daily bond data as input and computes several statistics that capture the illiquidity of bonds on an annual basis.

- Computes the illiquidity for each bond and month by taking the negative of the covariance between daily price changes (`deltap`) and their lagged values (`deltap_lag`).

- Aggregated the monthly illiquidity measures to obtain annual statistics, including mean and median illiquidity.

- Calculates t-statistics for the mean illiquidity of each bond and year and determines the percentage of these t-stats that are significant (>= 1.96).

- Calculates robust t-stats are calculated using OLS with HAC (heteroskedasticity and autocorrelation consistent) standard errors.

- Calculate overall statistics across the full sample period.

- Compiles all these metrics into a table that presents the mean and median illiquidity, the percentage of significant t-statistics, and robust t-statistics for each year, as well as for the full sample period.

This comprehensive illiquidity metric calculation allows us to understand the annual and overall liquidity characteristics of the corporate bond market.

In [8]:

def calc_annual_illiquidity_table_daily(df):
    """Calculate illiquidity = -cov(deltap, deltap_lag) using daily data, groupby in month,
    present as annual mean, median, percetage t >= 1.96, and robust t-stat. 
    """
    tqdm.pandas()
    
    Illiq_month = df.groupby(['cusip','month_year'] )[['deltap','deltap_lag']]\
        .progress_apply(lambda x: x.cov().iloc[0,1]) * -1
    Illiq_month = Illiq_month.reset_index()
    Illiq_month.columns = ['cusip','month_year','illiq']
    Illiq_month['year'] = Illiq_month['month_year'].dt.year
    Illiq_month = Illiq_month.dropna(subset=['illiq'])
    # Illiq_month = Illiq_month[Illiq_month['illiq'] < 2000]

    overall_illiq_mean = np.mean(Illiq_month['illiq'])
    overall_illiq_median = Illiq_month['illiq'].median()

    # Calculate t-statistics for each cusip in each year
    Illiq_month['t_stat'] = Illiq_month.groupby(['cusip', 'year'])['illiq'].transform(
        lambda x: (x.mean() / x.sem()) if x.sem() > 0 else np.nan)

    # Identify the entries with t-stat >= 1.96 and calculate the percentage of significant t-stats for each year
    Illiq_month['significant'] = Illiq_month['t_stat'] >= 1.96
    percent_significant = Illiq_month.groupby('year')['significant'].mean() * 100
    Illiq_month = Illiq_month.dropna(subset=['illiq', 't_stat'])
    overall_percent_significant = Illiq_month['significant'].mean() * 100
    
    # Calculate robust t-stat for each year
    def get_robust_t_stat(group):
        """Run OLS on a constant term only (mean of illiq) to get the intercept's t-stat."""
        X = add_constant(group['illiq'])
        ols_result = OLS(group['illiq'], X).fit(cov_type='HAC', cov_kwds={'maxlags':1})

        return abs(ols_result.tvalues[0])


    robust_t_stats = Illiq_month.groupby('year').apply(get_robust_t_stat)
    
    
    def calculate_overall_robust_t_stat(series):
        X = add_constant(series)
        ols_result = OLS(series, X).fit(cov_type='HAC', cov_kwds={'maxlags':1})
        return abs(ols_result.tvalues[0])

    # Call the function and assign the result to overall_robust_t_stat
    overall_robust_t_stat = calculate_overall_robust_t_stat(Illiq_month['illiq'].dropna())

    # Combine the results
    table2_daily = pd.DataFrame({
        'Year': robust_t_stats.index,
        'Mean_illiq': Illiq_month.groupby('year')['illiq'].mean(),
        'Median_illiq': Illiq_month.groupby('year')['illiq'].median(),
        'Per_t_greater_1_96': percent_significant,
        'Robust_t_stat': robust_t_stats.values
    }).reset_index(drop=True)
    
    overall_data = pd.DataFrame({
        'Year': ['Full'],
        'Mean_illiq': [overall_illiq_mean],
        'Median_illiq': [overall_illiq_median],
        'Per_t_greater_1_96': [overall_percent_significant],
        'Robust_t_stat': [overall_robust_t_stat]
    })

    table2_daily = pd.concat([table2_daily, overall_data], ignore_index=True)

    return table2_daily

In [9]:
table2_daily = calc_annual_illiquidity_table_daily(df)
table2_daily

  4%|▍         | 2073/47561 [00:00<00:09, 4567.12it/s]C:\Users\zhang\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:11184: RuntimeWarning: Degrees of freedom <= 0 for slice
  base_cov = np.cov(mat.T, ddof=ddof)
C:\Users\zhang\AppData\Roaming\Python\Python39\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\zhang\AppData\Roaming\Python\Python39\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
100%|██████████| 47561/47561 [00:07<00:00, 6473.89it/s]
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:34: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:37: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  robust_t_stats = Illiq_month.groupby('year').apply(get_robust_t_stat)
C:\Users\zhang\AppData\Local\Temp\ipykernel_17748\1032397038.py:43: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return abs(ols_result.tvalues[0])

   Year  Mean_illiq  Median_illiq  Per_t_greater_1_96  Robust_t_stat
0  2003    1.012431      0.118649           77.283913       2.541571
1  2004    1.054907      0.061028           77.409016      10.183842
2  2005    0.851126      0.040949           80.365932       4.067339
3  2006    0.409025      0.036393           88.037910       6.715445
4  2007    1.116023      0.064962           87.447828       1.815385
5  2008   13.271568      0.232770           67.607452      20.787846
6  2009   17.980450      0.334487           69.398431       1.186281
7  Full    3.120078      0.072691           79.679268      17.057181

In [19]:
latex_table2_daily = table2_daily.to_latex(index=False, float_format="{:0.2f}".format, column_format='l|rrrr', escape=False)
print(latex_table2_daily)

\begin{tabular}{l|rrrr}
\toprule
Year & Mean_illiq & Median_illiq & Per_t_greater_1_96 & Robust_t_stat \\
\midrule
2003 & 1.01 & 0.12 & 77.28 & 2.54 \\
2004 & 1.05 & 0.06 & 77.41 & 10.18 \\
2005 & 0.85 & 0.04 & 80.37 & 4.07 \\
2006 & 0.41 & 0.04 & 88.04 & 6.72 \\
2007 & 1.12 & 0.06 & 87.45 & 1.82 \\
2008 & 13.27 & 0.23 & 67.61 & 20.79 \\
2009 & 17.98 & 0.33 & 69.40 & 1.19 \\
Full & 3.12 & 0.07 & 79.68 & 17.06 \\
\bottomrule
\end{tabular}

# Step 4: Annual Implied Gamma Calculation Using Quoted Bid-Ask Spread

In this section, we focus on analyzing the illiquidity implied by quoted bid-ask spreads of corporate bonds on an annual basis using `calc_annual_illiquidity_table_spd`. 


- For each year, calculates the mean and median of the monthly 't_spread', which represent the implied gamma. 

- Calculate overall statistics across the full sample period.

- Compiles all these metrics into a table that presents the mean and median implied illiquidity for each year, as well as for the full sample period.

By computing these statistics, the function provides insights into the liquidity of the corporate bond market as implied by the bid-ask spreads over time. As shown in the paper, not only does the quoted bid-ask spread fail to capture the overall level of illiquidity, but it also fails to explain the cross-sectional variation in bond illiquidity and its asset pricing implications.

In [10]:
def calc_annual_illiquidity_table_spd(df):
    """Calculate mean and median gamma implied by quoted bid-ask spreads by year.
    """
    df_unique = df.groupby(['cusip', 'month_year'])['t_spread'].first().reset_index()
    df_unique['year'] = df_unique['month_year'].dt.year  
    df_unique = df_unique.sort_values(by='month_year')

    Illiq_mean_table = df_unique.groupby('year')['t_spread'].mean()
    overall_illiq_mean = df_unique['t_spread'].mean()
    overall_illiq_median = df_unique['t_spread'].median()
    
    table2_spd = pd.DataFrame({
        'Year': Illiq_mean_table.index,
        'Mean implied gamma': df_unique.groupby('year')['t_spread'].mean(),
        'Median implied gamma': df_unique.groupby('year')['t_spread'].median(),
    }).reset_index(drop=True)
    
    overall_data = pd.DataFrame({
        'Year': ['Full'],
        'Mean implied gamma': [overall_illiq_mean],
        'Median implied gamma': [overall_illiq_median]
    })
    
    table2_spd = pd.concat([table2_spd, overall_data], ignore_index=True)
    
    return table2_spd

In [11]:
table2_spd = calc_annual_illiquidity_table_spd(df) 
# by multiplying these values by 5, we get approximately the same result as the one in the paper
table2_spd

   Year  Mean implied gamma  Median implied gamma
0  2003            0.006595              0.004536
1  2004            0.005372              0.003603
2  2005            0.004687              0.003306
3  2006            0.004279              0.003143
4  2007            0.005710              0.004374
5  2008            0.012438              0.008984
6  2009            0.015974              0.012348
7  Full            0.006566              0.004244

In [18]:
latex_table2_spd = table2_final_spd.to_latex(index=False, float_format="{:0.2f}".format, column_format='l|rr', escape=False)
print(latex_table2_spd)

\begin{tabular}{l|rr}
\toprule
Year & Mean implied gamma & Median implied gamma \\
\midrule
2003 & 0.01 & 0.00 \\
2004 & 0.01 & 0.00 \\
2005 & 0.00 & 0.00 \\
2006 & 0.00 & 0.00 \\
2007 & 0.01 & 0.00 \\
2008 & 0.01 & 0.01 \\
2009 & 0.02 & 0.01 \\
Full & 0.01 & 0.00 \\
\bottomrule
\end{tabular}